.inputWrapper{
  margin-bottom: 20px;
}
.TodoInput{
    width: 99.7%;
    margin-bottom: 1em;
    font-size: 16px;
    padding: 10px 1em;
    word-break:normal;
    border-radius: 4px;
    z-index: -200;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  .App .inputWrapper .new-todo{
    width: 20em;
    margin: auto;
    text-align: center;
    list-style: none;
  }